input[type=text] {
    background-color: #DDA0DD;
    box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px 10px;
    border: 2px solid #D8BFD8;
    transition: width 0.4s ease-in-out;
    width: 130px;
    background-repeat: no-repeat;
}

input[type=text]:focus {
    width: 100%;
}

.header{
    background-color: black;
    color: white;
    font-size: 20px;
}


#searcBox {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;

}

#searcBox li a {
    margin-top: -1px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: box;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Georgia, serif;
}

.topnav {
    overflow: hidden;
    background-color: #800080;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #D8BFD8;
    color: black;
    border: 2px solid #D8BFD8;
    border-radius: 20px;
}

.topnav a.active {
    background-color: purple;
    color: white;
    border: 2px solid #D8BFD8;
    border-radius: 20px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 2px solid #D8BFD8;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        text-align: left;
        display: block;
        margin: 2px;
        width: 100%;
        padding: 15px;
    }
}

#welcome{
    font-size: 17px;
    font-weight: bold;
    font-family: Georgia, serif;
}
