* {
    box-sizing: border-box;
}
.bgimg {
    background-image: url(images/userPage.jpg);
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.row:after {
    clear: both;
    display: table;
    content: "";
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #D8BFD8;
}

.column {
    color: #D8BFD8;;
    padding: 10px;
    height: 700px;
    width: 33.33%;
    float: left;
}

#welcome{
    color: white;
}