#questionBox {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    outline: none;
}

#choiceCount{
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    width: 200px;
    height: 15px;
    outline: none;
}

